*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

.images{
    display: flex;
    flex-wrap: wrap;
}
.images:hover{
    background: transparent;
    color: yellow;
    transition: .3s;
    cursor: pointer;
}
h1{
    font-size: 40px;
}
h6{
    font-size: 15px;
}